*~
\#*\#
.\#*
node_modules
/cache
*/cache
*/*/cache
/cache
proxy.log

# Test cache server bundle storage
src/bundles/
bundles/

# CeNo client build
src/client
client

../fred

# Vim temporary files
.swp

# Database files in the future
ceno-node/src/db/*

ceno-node/test/db/*
