*~
\#*\#
.\#*
.metadata
node_modules
/cache
*/cache
*/*/cache
/cache
proxy.log

# Test cache server bundle storage
src/bundles/
bundles/

# CeNo client build
ceno-client/client
ceno-client/FreenetCENO.tar.gz
ceno-client/FreenetCENO

# Compiled CENO reader service and mock servers
ceno-reader/reader
ceno-reader/bundleserver
ceno-reader/bundleinserter

# SQLite database used by ceno-reader
ceno-reader/feeds.db

../fred

# Vim temporary files
.swp

# Database files in the future
ceno-node/src/db/*

ceno-node/test/db/*


# Stupid OSX files
.DS_Store
