*~
\#*\#
.\#*
.metadata
node_modules
/cache
*/cache
*/*/cache
/cache
proxy.log

# Test cache server bundle storage
src/bundles/
bundles/

# CeNo client build
ceno-client/client
ceno-client/FreenetCENO.tar.gz
ceno-client/FreenetCENO

# Integration and feature testing tools
ceno-client/test/erroringlcs

# Compiled CENO reader service and mock servers
ceno-reader/reader
ceno-reader/bundleserver
ceno-reader/bundleinserter

# Compiled tools
ceno-reader/tools/follower

# SQLite database used by ceno-reader and json files
ceno-reader/feeds.db
ceno-reader/json-files
ceno-client/json-files

../fred

# Vim temporary files
.swp

# Database files in the future
ceno-node/src/db/*

ceno-node/test/db/*

CENOBox
CENOBridge
CENOBackbone

# Stupid OSX files
.DS_Store
