<!doctype html>
<html>
<head>
    <title>CENO Portal</title>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="stylesheets/pure-min.css" />
    <link rel="stylesheet" href="stylesheets/ceno.css" />
    <link rel="stylesheet" href="stylesheets/portal.css" />
    <script type="text/javascript" id="jsonPlaceholder">
          var cenoPortalModule = JSON.Parse("{{.CenoPortalModule}}");
    </script>
</head>
<body>

    <!-- Will have content inserted as JSON by the backend code.
         The frontend code will then be able to use that data. -->
    <div class="content">
        <ul id="languageSelect">
            {{range $i, $language := .Languages}}
            <li>{{$language}}</li>{{end}}
        </ul>
    </div>
    
    <div></div>

    <!--<script src="javascript/languages.js"></script>-->
</body>
</html>
