<!DOCTYPE html>
<html>
<head>
  <title>CENO Portal</title>
  {{template "RESOURCES" . }}
</head>
<body>
  {{template "NAV" . }}
  {{template "BREADCRUMBS" . }}
  <h1>BBC Farsi</h1>
  <hr />
  <h1>BBC Farsi's super important RSS feed</h1>
  <ul id="articleListing">
    <li>
      <h2 class="articleTitle">Article 1</h2>
      <p class="articleInfo">Published 10:02pm, Wed 15 October 2015 by Someone Special</p>
    </li>
    <li>
      <h2 class="articleTitle">Article 2</h2>
      <p class="articleInfo">Published 10:02pm, Wed 15 October 2015 by Someone Special</p>
    </li>
    <li>
      <h2 class="articleTitle">Article 3</h2>
      <p class="articleInfo">Published 10:02pm, Wed 15 October 2015 by Someone Special</p>
    </li>
    <li>
      <h2 class="articleTitle">Article 4</h2>
      <p class="articleInfo">Published 10:02pm, Wed 15 October 2015 by Someone Special</p>
    </li>
    <li>
      <h2 class="articleTitle">Article 5</h2>
      <p class="articleInfo">Published 10:02pm, Wed 15 October 2015 by Someone Special</p>
    </li>
  </ul>
</body>
</html>
