<!DOCTYPE html>
<html>
<head>
  <title>CENO Portal</title>
  {{template "RESOURCES" . }}
  <link rel="stylesheet" type="text/css" href="cenoresources/stylesheets/index.css" />
</head>
<body>
  {{template "NAV" . }}
  <div id="splash">
    <img src="cenoresources/images/logo_ceno.png" />
    <div id="congratulations">
      <div><p>CONGRATULATIONS!</p></div>
      <div><p>YOU ARE NOW AVOIDING CENSORSHIP</p></div>
    </div>
  </div>
  <div class="content">
    <h1>What do you want to do now?</h1>
    <div class="indexJump">
      <h2>Browse CeNO media channels</h2>
      <p>
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      </p>
    </div>
    <div class="indexJump">
      <h2>Request a website</h2>
      <input type="text" placeholder="Enter URL" id="indexUrlSearch" />
    </div>
    <div class="indexJump">
      <h2>Learn more about CeNO</h2>
      <p>
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      </p>
      <button class="pure-button" id="tellMeMore">TELL ME MORE</a>
    </div>
  </div>
</body>
</html>
