{{define "NAV"}}
<div id="mainNav" class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
      <a href="#" id="languageMenu" class="pure-menu-link">ENG</a>
      <ul class="pure-menu-children">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">French</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Spanish</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Farsi</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Cantonese</a></li>
      </ul>
    </li>
    <li class="pure-menu-item">
      <a href="#" id="connectionStatus" class="pure-menu-link">Connected</a>
    </li>
  </ul>
</div>
{{end}}
