p.articleTitle {
    font-weight: bold;
    font-size: 0.9em;
    padding: 0;
    margin-bottom: 0;
}

div.articleInfo {
    margin: 0;
}

div.articleInfo span {
    font-size: 0.8em;
    padding: 0;
}

ul#languageSelect {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul#languageSelect li {
    display: inline;
    text-indent: -1em;
    padding-left: 1em;
}

ul#languageSelect li:before {
    content: "/";
    padding-right: 5px;
}

div#articleSection {
    padding: 20px 30px;
    margin-top: 30px;
}

div#articleSection div.content {
    margin-left: auto;
    margin-right: auto;
}

div#navButtons {
    text-align: center;
}

div#articleList {
    padding: 20px 0 20px 0;
    height: 100%;
}

div#articleList ul {
    list-style: none;
}

div#articleList ul li {
    margin-bottom: 20px;
    background-color: #eeedea;
    padding: 10px;
}

div#feedList {
    padding: 20px 0 20px 0;
    height: 100%;
}

div#feedList ul {
    list-style: none;
}

div#feedList ul li {
    margin-bottom: 20px;
    background-color: #eeedea;
    padding: 10px;
}

div#feedList ul li p {
    font-size: 0.8em;
    margin: 0 0 0 15px;
}

div.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

div.sitePanel {
    background-color: white;
    height: 300px;
    width: 40%;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
}

div.feedLogo {
    height: 200px;
    padding-top: 0px;
}

img#cenoLogo {
    margin-left: 25px;
}

img.feedLogo {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

div.feedUrl {
    margin-top: 10px;
    text-align: center;
}

div.feedDescription {
    margin-left: 15px;
}

div.feedDescription p {
    font-size: 0.75em;
    margin: 0;
}
