<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F1096</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>app_mode_loader</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.Chrome.app.Default-coobgpohoikkiipiblmjeljniedjpjpf-internal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Default coobgpohoikkiipiblmjeljniedjpjpf</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0.30</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2403.107</string>
	<key>CrAppModeProfileDir</key>
	<string>Default</string>
	<key>CrAppModeProfileName</key>
	<string>Person 1</string>
	<key>CrAppModeShortcutID</key>
	<string>coobgpohoikkiipiblmjeljniedjpjpf</string>
	<key>CrAppModeShortcutName</key>
	<string>Google Search</string>
	<key>CrAppModeShortcutURL</key>
	<string>http://www.google.com/webhp?source=search_app</string>
	<key>CrAppModeUserDataDir</key>
	<string>/Users/redwire/Library/Application Support/Google/Chrome/Default/Web Applications/_crx_coobgpohoikkiipiblmjeljniedjpjpf</string>
	<key>CrBundleIdentifier</key>
	<string>com.google.Chrome</string>
	<key>CrBundleVersion</key>
	<string>44.0.2403.107</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0511</string>
	<key>DTXcodeBuild</key>
	<string>5B1008</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
</dict>
</plist>
