<!DOCTYPE html>
<html>
<head>
    <title>CENO Portal</title>
    {{template "RESOURCES" . }}
</head>
<body>
    {{template "NAV" . }}
    {{template "BREADCRUMBS" . }}
    <div id="aboutCenoContent" class="content">
        <img src="/cenoresources/images/ceno_about_infographic.png" />
        <h1 id="aboutHeaderMain" class="directionToggles"></h1>
        <h2 id="aboutHeader1" class="directionToggles"></h2>
        <p id="aboutParagraph1" class="directionToggles"></p>
        <h2 id="aboutHeader2" class="directionToggles"></h2>
        <p id="aboutParagraph2" class="directionToggles"></p>
        <h2 id="aboutHeader3" class="directionToggles"></h2>
        <p id="aboutParagraph3" class="directionToggles"></p>
        <h2 id="aboutHeader4" class="directionToggles"></h2>
        <h3 id="securitySubHeader1" class="directionToggles"></h3>
        <p id="securitySubParagraph1" class="directionToggles"></p>
        <h3 id="securitySubHeader2" class="directionToggles"></h3>
        <p id="securitySubParagraph2" class="directionToggles"></p>
        <h3 id="securitySubHeader3" class="directionToggles"></h3>
        <p id="securitySubParagraph3" class="directionToggles"></p>
        <h3 id="securitySubHeader4" class="directionToggles"></h3>
        <p id="securitySubParagraph4" class="directionToggles"></p>
        <h2 id="aboutHeader5" class="directionToggles"></h2>
        <p id="aboutParagraph5" class="directionToggles"></p>
        <a href="https://equalit.ie">eQualit.ie</a>
        <a href="https://equalit.ie"><img src="/cenoresources/images/logo_eq.png" /></a>
        <p><h3>CENO version 1.0.0-alpha</h3></p>
    </div>
    {{template "SCRIPTS" . }}
    <script src="/cenoresources/javascript/about.js"></script>
</body>
</html>
