<!DOCTYPE html>
<html>
<head>
  <title>CENO Portal</title>
  {{template "RESOURCES" . }}
</head>
<body>
  {{template "NAV" . }}
  {{template "BREADCRUMBS" . }}
  <div class="content">
    <h1>{{.Title}}</h1>
  </div>
  <hr />
  <div class="content" id="articleListDiv">
    <ul id="articleListing">
      {{range .Articles}}
      <li>
        <h2 class="articleTitle"><a href="{{.Url}}">{{.Title}}</a></h2>
        <p class="articleInfo">{{.Published}} {{.Authors}}</p>
      </li>
      {{end}}
    </ul>
  </div>
  {{template "SCRIPTS" . }}
  <script src="/cenoresources/javascript/articles.js"></script>
</body>
</html>
