<!DOCTYPE html>
<html>
<head>
  <title>CENO Portal</title>
  {{template "RESOURCES" . }}
</head>
<body>
  {{template "NAV" . }}
  {{template "BREADCRUMBS" . }}
  <div class="content">
    <h1>Choose your media channel</h1>
    <div class="pure-g channel-row">
      {{range .Feeds}}
      <div class="pure-u-1-4">
        <div class="channel">
          <h2><a href="{{.Url}}">{{.Title}}</a></h2>
        </div>
      </div>
      {{end}}
    </div>
  </div>
  {{template "SCRIPTS" . }}
</body>
</html>
