<!DOCTYPE html>
<html>
<head>
  <title>CENO Portal</title>
  {{template "RESOURCES" . }}
</head>
<body>
  {{template "NAV" . }}
  {{template "BREADCRUMBS" . }}
  <div class="content">
    <h1>Choose your media channel</h1>
    <div class="pure-g">
      <div class="pure-u-1-4">
        <div class="channel">
          <h2>Al Jezeera</h2>
        </div>
      </div>
      <div class="pure-u-1-4">
        <div class="channel">
          <h2>BBC Farsi</h2>
        </div>
      </div>
      <div class="pure-u-1-4">
        <div class="channel">
          <h2>BBC</h2>
        </div>
      </div>
      <div class="pure-u-1-4">
        <div class="channel">
          <h2>The Guardian</h2>
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-4">
        <div class="channel">
          <h2>The Washington Post</h2>
        </div>
      </div>
      <div class="pure-u-1-4">
        <div class="channel">
          <h2>The New York Times</h2>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
