<!DOCTYPE html>
<html>
<head>
  <title>CENO Portal</title>
  {{template "RESOURCES" . }}
</head>
<body>
  {{template "NAV" . }}
  <div class="content">
    <h1 id="whatNextHeader"></h1>
    <div class="indexJump">
      <h2 id="browseChannelsHeader"></h2>
      <p id="browseChannelsParagraph">
      </p>
    </div>
    <div class="indexJump">
      <h2 id="requestSiteHeader"></h2>
      <form method="get" action="/lookup" name="lookupForm" id="lookupForm">
        <input type="text" placeholder="Enter URL" id="indexUrlSearch" />
        <input type="submit" style="display: none;" id="submitLookupForm" />
      </form>
    </div>
    <div class="indexJump">
      <h2 id="learnCENOHeader"></h2>
      <p id="learnCENOParagraph">
      </p>
      <button class="pure-button" id="tellMeMore"></a>
    </div>
  </div>
  {{template "SCRIPTS" . }}
  <script src="cenoresources/javascript/index.js"></script>
</body>
</html>
