{{define "NAV"}}
<div id="mainNav" class="pure-menu pure-menu-horizontal">
  <div class="content">
    <a href="/portal">
      <img id="cenoLogoMain" src="/cenoresources/images/logo_ceno.png" />
    </a>
    <ul class="pure-menu-list" id="mainMenu">
      <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover" id="languageMenu">
        <a href="#" id="languageName" class="pure-menu-link">
          <img src="/cenoresources/images/globe.png" />
          <span id="currentLocale"></span>
        </a>
        <ul class="pure-menu-children">
          {{range .LanguageStrings}}
          <li class="pure-menu-item">
            <a href="#" class="pure-menu-link languageSelect" data-language="{{.Locale}}">
              {{.Name}}
            </a>
          </li>
          {{end}}
        </ul>
      </li>
      <li class="pure-menu-item" id="statusMenuItem">
        <a href="#" id="connectionStatus" class="pure-menu-link">
          <img id="statusIcon" src="/cenoresources/images/status_error.png" />
          <span id="statusText"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
{{end}}
