Source: bundler
Section: web
Priority: optional
Maintainer: Distributed Deflect Packaging <sysops@equalit.ie>
Build-Depends:
        debhelper
Standards-Version: 3.9.1

Package: bundler
Architecture: all
Depends:
        nodejs,
        phantomjs
Description: Creates encrypted bundles of web content in order for
 content to be served via volunteer edges taking part in the
 Distributed Deflect project.
