#aboutCenoContent {
    padding-bottom: 100px;
}

#aboutCenoContent h2 {
    margin-top: 40px;
}

#aboutCenoContent a {
    color: rgb(228, 54, 36);
    text-decoration: none;
    font-size: 18px;
}

#aboutCenoContent img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
