#breadcrumbsBar {
  height: 80px;
  background-color: #e43624;
}

#breadcrumbsBar > .content > span {
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 80px;
}

#breadcrumbsBar > .content > span > a {
  text-decoration: none;
  color: white;
}

#breadcrumbsBar > .content > span > a:hover {
  color: rgb(240, 240, 240);
}

#breadcrumbsBar + * {
  margin-top: 130px;
}

#breadcrumbsBar + .content > h1 {
  margin-bottom: 50px;
}
