.pure-g.channel-row {
  margin-left: -12px;
}

.pure-g.channel-row:last-child {
  margin-right: 0;
}

div.channel {
  background-color: rgb(225, 224, 219);
  border-radius: 16px;
  margin: 12px;
  height: 250px;
}

div.channel * {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 250px;
}

div.channel > a {
  text-decoration: none;
  color: black;
}
