#mainCartoon {
  width: 100%;
  margin-bottom: 100px;
}

#whatNextHeader {
  margin-bottom: 80px;
}

#footer {
  margin-top: 80px;
  margin-bottom: 80px;
}

#cartoonCredit {
  text-align: center;
  font-size: 0.8em;
}

div.indexJump {
  border-radius: 24px;
  background-color: rgb(225, 224, 219);
  min-height: 200px;
  padding: 20px;
  margin: 0 0 40px 0;
}
