#mainNav {
  height: 100px;
  background-color: rgb(236, 237, 237);
}

#mainNav img {
  margin-top: 10px;
  float: left;
}

#mainMenu {
  float: right;
  height: 100%;
}

#mainMenu .pure-menu-children {
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: rgba(160, 160, 160, 0.8);
}

#mainMenu .pure-menu-children .pure-menu-item a {
  height: 30px;
  line-height: 30px;
  color: white;
}

#mainMenu .pure-menu-children .pure-menu-item a:hover {
  background-color: rgba(160, 160, 160, 0.8);
}

#languageMenu {
  width: 140px;
  background-color: rgb(199, 199, 199);
  text-align: center;
  line-height: 80px;
}

#languageName {
  color: white;
}

#languageName:hover {
  background-color: rgb(199, 199, 199);
}

#statusMenuItem {
  width: 200px;
  text-align: center;
  line-height: 80px;
}

#connectionStatus {
  text-transform: uppercase;
}
