#mainNav {
  height: 100px;
  background-color: rgb(236, 237, 237);
}

#mainNav img {
  margin-top: 10px;
  float: left;
}

#mainNav ul {
  height: 100%;
  float: right;
}

#languageMenu {
  background-color: rgb(199, 199, 199);
  color: white;
}

#languageMenu:hover {
  background-color: rgb(199, 199, 199);
}

#languageMenu a {
  color: white;
}

#mainNav ul li {
  height: 100%;
}
