#mainNav {
  height: 80px;
  background-color: rgb(236, 237, 237);
}

#cenoLogoMain {
  margin-top: 10px;
  float: left;
  height: 60px;
}

#mainMenu {
  float: right;
  height: 100%;
}

#mainMenu .pure-menu-children {
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: rgba(160, 160, 160, 0.8);
}

#mainMenu .pure-menu-children .pure-menu-item a {
  height: 30px;
  line-height: 30px;
  color: white;
}

#mainMenu .pure-menu-children .pure-menu-item a:hover {
  background-color: rgba(160, 160, 160, 0.8);
}

#currentLocale {
  text-transform: uppercase;
}

#languageMenu {
  width: 175px;
  background-color: rgb(199, 199, 199);
  text-align: center;
  line-height: 60px;
}

#languageName {
  color: white;
}

#languageName:hover {
  background-color: rgb(199, 199, 199);
}

#languageName > img {
  height: 25px;
  display: inline;
  vertical-align: middle;
  margin-right: 15px;
  margin-top: -5px;
}

#statusMenuItem {
  width: 225px;
  text-align: center;
  line-height: 60px;
}

#statusIcon {
  width: 25px;
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -3px;
}

#statusText {
  text-transform: uppercase;
}
